/* general styling */

@font-face {
    font-family: "Neue Machina";
    src: url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot");
    src: url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff") format("woff"), url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.svg#Neue Machina") format("svg");
}

body {
    background-color: #e7e8ed;
    width: 100%;
    font-family: 'Neue Machina';
}



/* nav-bar*/

.navbar {
    display: flex;
    margin-top: 40px;


}

.logo {
    position: absolute;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 45px;
    letter-spacing: 40px;
    transition: transform 1s ease-in, font-size 0.3s ease;
}

.logo:hover {
    color: transparent;
    text-shadow: red 2px 5px;
    transform: skew(15deg, 15deg);
    font-size: 60px;
}

.nav-link {
    color: black;
    text-decoration: none;

}

.nav-element {
    transform: skew(15deg, 15deg);
    transition: 0.7s;
}

.nav-element:hover {
    transform: none;
    font-size: 20px;
}

.nav-link:hover {
    transform: skew(15deg, 15deg);
}


.nav-list {
    position: absolute;
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 55%;
}



/* upper section */

.upper-section {

    display: flex;
    margin-top: 13.5em;

}

#background-small {
    height: 40%;
    width: 40%;
    position: absolute;
    z-index: -1;
    margin-top: 4rem;
    margin-left: 3em;
}

#stache-boi {
    height: 40%;
    width: 16%;
    position: absolute;
    margin-left: 60%;
    margin-top: 55px;
}

.title-text {
    background-color: #e7e8ed;
    font-size: 40px;
    width: 40%;
    padding: 30px;
    padding-left: 40px;
    margin-left: 6em;
    margin-top: 2.6em;
    font-weight: 100;
    letter-spacing: 2px;

}

.border-text {
    border: 1px solid black;
    border-radius: 20px;
}

#text-yellow {
    color: rgb(241, 212, 26);
}



/* mid-section*/
.mid-section {
    display: flex;
    flex-direction: row;
    margin-top: 12em;
    background-color: #afafb7;
    padding-top: 5em;
    padding-bottom: 5em;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

}

.mid-section.active {
    transform: translateX(0%);
    opacity: 1;
}


.service-formula {
    display: flex;
    width: 80%;
    gap: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5em;

}

.service-formula-subtitle {
    font-size: 1.5em;
}

/* confident meter*/


.confidence-meter {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8em;
    width: 100%;
    
}

.confidence-meter-title {
    margin-left: 11em;
    margin-bottom: 10px;
}

.confidence-meter-container {
    border: 1px solid black;
    height: 220px;
    width: 80%;
    border-radius: 20px;
    background-color: #e7e8ed;

}

.confi-one-line {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confi-one-line img {
    width: 7%;
    margin-left: 20px;
}

.lower-div {

    margin-left: 4rem;
    width: 60%;
    height: 1em;
    border-radius: 20px;
    background-color: #D9D9D9;
}

#upper-div-1 {

    height: 0.99em;
    width: 80%;
    border-radius: 20px;
    background-color: #6c99e4;
}

#upper-div-2 {

    height: 0.99em;
    width: 60%;
    border-radius: 20px;
    background-color: #5b83c6;
}

#upper-div-3 {

    height: 0.99em;
    width: 40%;
    border-radius: 20px;
    background-color: #2c4d84;
}

/* slide container section */

.projects {
    margin-top: 6rem;
}

.title-projects {
    font-size: 2em;
    margin-left: 80%;
}